{%extends 'Only_owner_navbar.html'%} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Profile {% endblock %}</title>
  </head>

  <body>
    {% block name %}{{owner.Owner_firstname}}{%endblock%} {% block pagecontent%}

    <h3 class="display-4 p-1" style="text-align: center; background-color:gainsboro;">Customer Analysis</h3>

    <div class="container p-5">
        <p class="lead"><strong>Customer Gender</strong></p>
        <img src = "data:image/png;base64,{{cust_gender}}"/>
        <hr><hr>
        <p class="lead"><strong>Customer Rent Requests</strong></p>
        <img src = "data:image/png;base64,{{cust_rent_request}}"/>
    </div>

    <h3 class="display-4 p-1" style="text-align: center; background-color:gainsboro;">Vehicle Analysis</h3>

    <div class="container p-5">
        <p class="lead"><strong>Vehicle Type</strong></p>
        <img src = "data:image/png;base64,{{v_type}}"/>
        <hr><hr>
        <p class="lead"><strong>Vehicle Rent Requests</strong></p>
        <img src = "data:image/png;base64,{{v_rent_request}}"/>
    </div>

    {% endblock pagecontent %}
  </body>
</html>
