{%extends 'Only_owner_navbar.html'%} {% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Vehicle Details {% endblock %}</title>
</head>

<body>
    {% block name %}{{owner.Owner_firstname}}{%endblock%} {% block pagecontent %}
    <div class="container my-5">
        <div class="row">
            <!-- carousel Image -->
            <div class="col-sm-7">
                <div class="card p-2" style="width: auto;">
                    <div id="Vehicle_{{vehicle.Vehicle_license_plate}}" class="carousel slide" data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#Vehicle_{{vehicle.Vehicle_license_plate}}" data-slide-to="0" class="active"></li>
                            <li data-target="#Vehicle_{{vehicle.Vehicle_license_plate}}" data-slide-to="1"></li>
                            <li data-target="#Vehicle_{{vehicle.Vehicle_license_plate}}" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{vehicle.Vehicle_image1.url}}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{vehicle.Vehicle_image2.url}}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{vehicle.Vehicle_image3.url}}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#Vehicle_{{vehicle.Vehicle_license_plate}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#Vehicle_{{vehicle.Vehicle_license_plate}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">

                        {%if Incorrect_dates%}
                        <div class="container">
                            <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                                <strong>{{Incorrect_dates}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%} {%if Available%}
                        <div class="container">
                            <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                                <strong>Vehicle is Available (Send Request to book it)</strong> {%if Message%}
                                <p>
                                    {{Message}}. So there are some chances that you might not get it. As vehicles are rented on First come first serve policy. You may get this vehicle if the other person decline his/her request.
                                </p>
                                {%endif%}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%} {%if NotAvailable%}
                        <div class="container">
                            <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                                <strong>Vehicle is not Available for this dates!!</strong>
                                <p>
                                    It is rented from {{dates.RentVehicle_Date_of_Booking}} to {{dates.RentVehicle_Date_of_Return}}
                                </p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%}

                        <h5 class="card-title p-1" style="background-color: yellow; text-align: center;">Check Availability
                        </h5>
                        <form action="{% url 'OwnerCheckAvailability' vehicle.Vehicle_license_plate %}" class="px-4 py-3" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-4">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="RentVehicle_Date_of_Booking" class="form-control" placeholder="Pickup date" required>
                                </div>
                                <div class="col-4">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="RentVehicle_Date_of_Return" class="form-control" placeholder="Return date" required>
                                </div>
                                <div class="col-4">
                                    <input type="submit" class="btn btn-success" value="Check Availability" />
                                </div>
                            </div>
                        </form>

                        {%if Available%}
                        <h5 class="card-title p-1" style="background-color: yellow; text-align: center;">Send Rent Request to Owner
                        </h5>
                        <form action="/RentVehicle/SendRequest_toOwner/" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="pickupdate"><b>Pickup Date</b></label>
                                    <input type="text" class="form-control" id="pickupdate" name="RentVehicle_Date_of_Booking" value="{{rent_data.RentVehicle_Date_of_Booking}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="returndate"><b>Return Date</b></label>
                                    <input type="text" class="form-control" id="returndate" name="RentVehicle_Date_of_Return" value="{{rent_data.RentVehicle_Date_of_Return}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="totaldays"><b>Total days</b></label>
                                    <input type="text" class="form-control" id="totaldays" name="Total_days" value="{{rent_data.days}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="totalamount"><b>Total Amount</b></label>
                                    <input type="text" class="form-control" id="totalamount" name="RentVehicle_Total_amount" value="{{rent_data.total}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="Vehicle_license_plate" name="Vehicle_license_plate" value="{{vehicle.Vehicle_license_plate}}" hidden>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" class="btn btn-success btn-block" value="Send Request" />
                                </div>
                            </div>
                        </form>{%endif%}

                    </div>
                </div>
            </div>

            <!-- Information -->
            <div class="col-sm-5">
                <div class="card p-2" style="width: auto;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{vehicle.Vehicle_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Company</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{vehicle.Vehicle_company}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Model</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{vehicle.Vehicle_model}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">License Plate</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{vehicle.Vehicle_license_plate}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fuel Type</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{vehicle.Vehicle_fuel}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Seats</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{vehicle.Vehicle_No_of_Seats}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gear Type</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {%if vehicle.isGeared%} Manual {%else%} Auto {%endif%}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">About</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{vehicle.Vehicle_description}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Price</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                ₹{{vehicle.Vehicle_price}} (per day)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
            <div class="col">
              <div class="card p-2" style="width: auto">
                <a type="button" class="btn btn-danger" href="/Owner/DeleteVehicle/?Vehicle_license_plate={{vehicle.Vehicle_license_plate}}">Delete Vehicle</a>
              </div>
            </div>
          </div>

            </div>
        </div>
    </div>
    {% endblock pagecontent %}
</body>

</html>