{%extends 'Only_owner_navbar.html'%} {% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}All Vehicles{% endblock %}</title>
</head>

<body>
    {% block name %}{{owner.Owner_firstname}}{%endblock%} {% block pagecontent %}
    <h1 class="display-3" style="text-align: center;">Vehicles</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vehicle Name</th>
                <th scope="col">Company</th>
                <th scope="col">Model</th>
                <th scope="col">License Plate</th>
                <th scope="col">Uploaded by</th>
                <th scope="col">Price (per day)</th>
                <th scope="col">View Vehicle</th>
            </tr>
        </thead>
        <tbody>
            {% for value in vehicle %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{value.Vehicle_name}}</td>
                <td>{{value.Vehicle_company}}</td>
                <td>{{value.Vehicle_model}}</td>
                <td>{{value.Vehicle_license_plate}}</td>
                <td>{{value.Vehicle_uploaded_by}}</td>
                <td>{{value.Vehicle_price}}</td>
                <td><a href="{% url 'OwnerVehicleDetails' value.Vehicle_license_plate %}" target="_blank">view</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock pagecontent %}
</body>

</html>