{%extends 'LoggedinBase.html'%} {% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Home {% endblock %}</title>
</head>

<body>
    {% block name %}{{customer.customer_firstname}}{%endblock%} {% block pagecontent %} {%if Message%}
    <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
        <strong>{{Message}}!!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
    <div class="container">
        <div class="row">
            {% for value in p %}
            <div class="col-sm-4 my-5">
                <div class="card Boxshadow" style="width: 18rem">
                    <img class="card-img-top" src=" {% static 'img/1.jfif' %} " alt="Card image cap " />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="# " class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock pagecontent %}
</body>

</html>